#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.paddedCell {
  margin-right:16px;
}

.errorLabel{
  color: red;
  font-size: small;
}
.inputBox{
  height: 48px;
  width: 256px;
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding-left: 16px;
}

.navBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 20px 30px black;
  background-color: #242424;
}

.navButton{
  margin: 8px;
}

.leftAlign{
  float:left;
}
.rightAlign{
  float:right;
}
.navMenu{
  position:absolute;
  left: 50%;
  transform:translateX(-50%);
}
table, tr, td, th{
  border: 2px solid gray;
  border-collapse: collapse;
}
tr, td, th{
  width: 300px;
  height: 50px;
  padding: 5px;
}
.numberInput{
  width: 75px;
}
.insufficientError{
  color: red;
}